version: 2.0

references:

  workspace_root: &workspace_root
      /opt/workspace/

  container_config: &container_config
    docker:
    - image: menny/android:1.10.2

    working_directory: *workspace_root

    environment:
      TERM: dumb
      EXTRA_GRADLE_ARGS: "--no-daemon --max-workers=2 --stacktrace"

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  general_cache_key: &general_cache_key
    key: anysoftkeyboard-{{ checksum "build.gradle" }}-{{ checksum ".circleci/config.yml" }}-{{ checksum "gradle.properties" }}-{{ checksum "settings.gradle" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
jobs:

  build:
    <<: *container_config
    steps:
    - checkout

    - restore_cache:
        <<: *general_cache_key

    - run:
        name: Setup environment
        command: scripts/ci_setup.sh

    - run:
        name: Initial build
        command: scripts/ci/ci_assemble.sh

    - store_artifacts:
        path: /opt/workspace/app/build/outputs/apk/debug/
        destination: debug-apks/

    - persist_to_workspace:
        root: *workspace_root
        paths:
        - .

    - save_cache:
        <<: *general_cache_key
        paths:
        - "~/.gradle"
        - "~/.m2"
        - "~/.android"
        - "/opt/android-sdk-linux/licenses"

  check:
    <<: *container_config
    steps:
    - *attach_workspace

    - restore_cache:
        <<: *general_cache_key

    - run:
        name: Run Checks
        command: ./scripts/ci/ci_check.sh

    - store_artifacts:
        path: /opt/workspace/app/build/reports/lint-results.html
        destination: lint_reports/
  test:
    <<: *container_config
    steps:
    - *attach_workspace

    - restore_cache:
        <<: *general_cache_key

    - run:
        name: Run Tests
        command: ./scripts/ci/ci_test.sh

    - store_artifacts:
        path: /opt/workspace/app/build/reports/tests/testDebugUnitTest/*
        destination: tests_reports/

  deploy:
    <<: *container_config
    steps:
    - *attach_workspace

    - restore_cache:
        <<: *general_cache_key

    - run:
        name: Deploy to Play Store
        command: |
          ./scripts/ci/ci_deploy.sh ${LUMIERE_KEY_STORE_FILE_URL} ${PUBLISH_CERT_FILE_URL}
    - store_artifacts:
        path: /opt/workspace/app/build/outputs/apk/release/
        destination: release-apks/

workflows:
  version: 2

  build_check_deploy:
    jobs:
    - build
    - check:
        requires:
        - build
    - test:
        requires:
        - build
    - deploy:
        filters:
          branches:
            only:
            - master
        requires:
        - check
        - test
